<%- include("templates/encabezado") %>
<%- include("templates/menu") %>
<h1>Mostrar Usuarios</h1>
<table>
    <thead>
        <th>ID</th>
        <th>Nombre</th>
        <th>Usuario</th>
        <th>Password</th>
        <th>Editar / Borrar</th>
    </thead>
    <tbody>
        <%
         usuarios.forEach((usuario)=>{   
        %>
        <tr>
            <td><%= usuario.id %></td>
            <td><%= usuario.nombre %></td>
            <td><%= usuario.usuario %><td>
            <td><%= usuario.password %></td>
            <td><a href="/editarUsuario/<%= usuario.id %>">Editar</a> / <a href="/borrarUsuario/<%= usuario.id %>">Borrado fisico</a>/ <a href="/borrarUsuario2/<%= usuario.id %>">Borrado Lógico</a></td>
        </tr>
        <%
        });
        %>
    </tbody>
</table>
<%- include("templates/pie") %>
